<div fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <div fxFlex="70" class="primary" fxHide.xs fxLayout="column">
        <mat-toolbar class="toolbar__font">Document</mat-toolbar>
        <!-- <div class="scroll"> -->
        <app-image-viewer></app-image-viewer>
        <!-- </div> -->

    </div>
    <!-- Magic [label]="(showTab$ | async) ? 'true' : 'false'"  -->
    <div fxFlex="30" class="secondary">
        <mat-tab-group mat-stretch-tabs [disableRipple]="showTab$ | async">
            <mat-tab *ngIf="showTab$ | async" class="no-hover">
                <ng-template mat-tab-label>
                    <mat-icon>description</mat-icon>
                </ng-template>

                <app-image-viewer></app-image-viewer>
            </mat-tab>
            <mat-tab [label]="(showTab$ | async) ? '' : 'Keywords'" class="no-hover">
                <ng-template mat-tab-label *ngIf="showTab$ | async">
                    <mat-icon class="icon__rotate">vpn_key</mat-icon>
                </ng-template>

                <app-keywords></app-keywords>
            </mat-tab>
            <mat-tab [label]="(showTab$ | async) ? '' : 'Actions'" class="no-hover">
                <ng-template mat-tab-label *ngIf="showTab$ | async">
                    <mat-icon>flash_on</mat-icon>
                </ng-template>
                <app-actions></app-actions>
            </mat-tab>
            <mat-tab [label]="(showTab$ | async) ? '' : 'Notes'" class="no-hover">
                <ng-template mat-tab-label *ngIf="showTab$ | async">
                    <mat-icon class="icon__shrink">note</mat-icon>
                </ng-template>
                <app-notes></app-notes>
            </mat-tab>
            <!-- <mat-tab label="History">History</mat-tab> -->
        </mat-tab-group>
    </div>

</div>

<router-outlet></router-outlet>