@import '../styles.scss';

.primary {
    margin-right: 4px;
}

.secondary {
    min-width: 240px;
}

.toolbar__font {
    font-weight: 500 !important;
    font-size: 14px !important;
}

mat-toolbar {
    height: 48px;
    border-bottom: 2px solid $toolbar-border-color !important;
    background: $toolbar-background-color !important;
}
// teal 2b9788 light blue 36abf2
