<div class="bounds">

  <div class="content"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill >

      <div fxFlex="70" class="sec1" fxHide.xs>
        <mat-toolbar>Document</mat-toolbar>
      </div>
      <div fxFlex class="sec2" >
          <mat-tab-group>
            <mat-tab label="Document" fxHide.sm fxHide.md fxHide.lg >Document</mat-tab>
            <mat-tab label="Keywords">Keywords</mat-tab>
            <mat-tab label="Actions">Actions</mat-tab>
            <!-- <mat-tab label="Notes">Notes</mat-tab>
            <mat-tab label="History">History</mat-tab> -->
          </mat-tab-group>
      </div>

  </div>

</div>

<router-outlet></router-outlet>
