@import '../styles.scss';
.primary {
    margin-right: 4px;
}

.secondary {
    min-width: 240px;
}

.toolbar__font {
    font-weight: 500 !important;
    font-size: 14px !important;
}

mat-toolbar {
    height: 48px;
    border-bottom: 2px solid $toolbar-border-color !important;
    background: $toolbar-background-color !important;
}

::ng-deep .mat-tab-label-active {
    .mat-tab-label-content {
        transition: all 0.4s ease;
        transform: scale(1.2) !important;
        font-weight: 900 !important;
    }
}

// removes the click-background-change
::ng-deep .mat-tab-label:focus {
    background: $toolbar-background-color !important;
    font-weight: 500 !important;
}

.icon__grow {
    transition: all .2s ease-in-out;
}

// teal 2b9788 light blue 36abf2
.icon__rotate {
    transform: scale(-1, 1) rotate(90deg);
}

.icon__shrink {
    transform: scale(0.85, 1);
}