<!-- <div>Option 1 - Accordions</div>

<mat-accordion>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Jerry Olewniczak
      </mat-panel-title>
      <mat-panel-description>
        Nice doggo
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{panelOpenState ? 'open' : 'closed'}}
    Dang heckin' doggo do a zoom. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    <mat-action-row>
      <button mat-raised-button>Edit</button>
      <button mat-raised-button>Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Chaz Gatian
      </mat-panel-title>
      <mat-panel-description>
        Is he borkin'?
      </mat-panel-description>
    </mat-expansion-panel-header>
    Doggo who borked 3 tims and overdosed into maximum borkdrive. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        ed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </mat-expansion-panel>
</mat-accordion>


<div>Option 2 - Cards</div> -->

<div fxLayout="column">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nice Doggo</mat-card-title>
      <mat-card-subtitle>Jerry Olewniczak</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Dang heckin' doggo do a zoom. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      </p>
    </mat-card-content>
    <mat-card-actions>
      <div></div>
      <div fxFlex></div>
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Is he borkin'?</mat-card-title>
      <mat-card-subtitle>Jerry Olewniczak</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Doggo who borked 3 tims and overdosed into maximum borkdrive. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        ed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div></div>
        <div fxFlex></div>
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
