<form class="keywords-form" fxLayout="column">
    <mat-form-field class="keyword-full-width">
        <input matInput placeholder="Breed name" value="Giant Schnauzer">
    </mat-form-field>

    <mat-form-field class="keyword-full-width">
        <input matInput placeholder="Origin" value="Germany">
    </mat-form-field>

    <mat-form-field class="keyword-full-width">
        <input matInput placeholder="Maximum Height" value="26in">
    </mat-form-field>

    <mat-form-field class="keyword-full-width">
        <input matInput placeholder="Maximum Weight" value="75lb">
    </mat-form-field>
    <mat-form-field class="keyword-full-width">
        <input matInput placeholder="Life Span" value="12-15 years">
    </mat-form-field>
    <mat-form-field class="keyword-full-width">
        <input matInput placeholder="Dog Breed Group" value="Working Dog">
    </mat-form-field>
    <mat-form-field class="keyword-full-width">
        <input matInput placeholder="Energy Level" value="Very energetic">
    </mat-form-field>
    <mat-form-field class="keyword-full-width">
        <input matInput placeholder="Tendency To Dig" value="Low">
    </mat-form-field>
</form>