/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    max-height: 100%;
}

.mat-tab-label {
    padding: 0 !important;
    min-width: 120px !important;
}

.mat-tab-header-pagination {
    padding: 0 !important;
    min-width: 30px !important;
}

.mat-tab-header-pagination-chevron {
    padding: 0 !important;
}

.mat-toolbar {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.mat-card-title {
    width: 100% !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 0 !important;
}

.mat-card {
    padding: 20px !important;
}

.md-32 {
    font-size: 32px !important;
    padding: 10px;
}