<div class="actions-header">Workflow Actions</div>
<div class="action-buttons-container" fxLayout="column">
    <button mat-raised-button class="action-button">
      <i class="material-icons md-32">thumb_up</i>Approve</button>
    <button mat-raised-button class="action-button">
      <i class="material-icons md-32">thumb_down</i>Reject</button>
    <button mat-raised-button class="action-button">
      <i class="material-icons md-32">call_made</i>Send for review</button>
    <button mat-raised-button class="action-button">
      <i class="material-icons md-32">camera_alt</i>Request more pictures</button>
    <button mat-raised-button class="action-button">
      <i class="material-icons md-32">local_hospital</i>Request medical report</button>
</div>
<div class="actions-header">Document Actions</div>
<div class="action-buttons-container" fxLayout="column">
    <button mat-raised-button class="action-button">
      <i class="material-icons md-32">save</i>Save</button>
    <button mat-raised-button class="action-button">
      <i class="material-icons md-32">print</i>Print</button>
    <button mat-raised-button class="action-button">
      <i class="material-icons md-32">email</i>Send via email</button>
</div>
