.action-button {
    margin: 3px !important;
    text-align: left;
    padding: 6px;
    font-weight: 400 !important;
}

.action-buttons-container {
    width: auto;
}

.actions-header {
    text-align: center !important;
    padding: 10px;
    margin: 5px;
    font-size: 17px !important;
    font-weight: 400 !important;
}