.action__button {
    margin: 3px !important;
    text-align: left;
    padding: 6px;
    font-weight: 400 !important;
}

.action-buttons-container {
    width: auto;
}

.actions__header {
    text-align: center !important;
    padding: 10px;
    margin: 5px;
    font-size: 17px !important;
    font-weight: 400 !important;
}

.action__icon {
    font-size: 20px !important;
    padding: 10px;
    color: #4352b3 !important
}