.action__button {
    margin: 3px 8px 3px 8px !important;
    text-align: left;
    padding: 6px 6px 6px 12px;
    font-weight: 400 !important;
}

.action-buttons-container {
    width: auto;
}

.actions__header {
    text-align: center !important;
    padding: 10px;
    margin: 5px;
    font-size: 17px !important;
    font-weight: 400 !important;
}

.action__icon {
    font-size: 20px !important;
    padding: 10px;
    color: #ffffff !important
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #4352b3;
    display: flex;
}

.mat-button-wrapper {
    display: flex;
}

.button-text__padding {
    padding-left: 10px;
    padding-top: 4px;
}