<div class="action-buttons-container" fxLayout="column">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-mini-fab color="primary" class="mat-elevation-z0">
                    <i class="material-icons">thumb_up</i>
                </button>
            </div>
            <mat-card-title>Approve</mat-card-title>
            <mat-card-subtitle>Approve X and remove from workflow</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-mini-fab color="primary" class="mat-elevation-z0">
                    <i class="material-icons">thumb_down</i>
                </button>
            </div>
            <mat-card-title>Reject</mat-card-title>
            <mat-card-subtitle>Reject X</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-mini-fab color="primary" class="mat-elevation-z0">
                    <i class="material-icons">call_made</i>
                </button>
            </div>
            <mat-card-title>Send for review</mat-card-title>
            <mat-card-subtitle>Send this document to manager for review</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-mini-fab color="primary" class="mat-elevation-z0">
                    <i class="material-icons">camera_alt</i>
                </button>
            </div>
            <mat-card-title>Request more pictures</mat-card-title>
            <mat-card-subtitle>Send an email to X requesting more images.</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-mini-fab color="primary" class="mat-elevation-z0">
                    <i class="material-icons">local_hospital</i>
                </button>
            </div>
            <mat-card-title>Request medical report</mat-card-title>
            <mat-card-subtitle>Send an email requesting medical record</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
<mat-divider style="margin:10px;"></mat-divider>
<div class="action-buttons-container" fxLayout="column">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-mini-fab color="primary" class="mat-elevation-z0">
                    <i class="material-icons">save</i>
                </button>
            </div>
            <mat-card-title>Save</mat-card-title>
            <mat-card-subtitle>Save a copy of this document locally</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-mini-fab color="primary" class="mat-elevation-z0">
                    <i class="material-icons">print</i>
                </button>
            </div>
            <mat-card-title>Print</mat-card-title>
            <mat-card-subtitle>Print using local printer</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-mini-fab color="primary" class="mat-elevation-z0">
                    <i class="material-icons">email</i>
                </button>
            </div>
            <mat-card-title>Email</mat-card-title>
            <mat-card-subtitle>Attach this document to an email</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>